<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/main.css') }}">
    <title>Mobi Tracker</title>
</head>
<body>
    <header>
        <div class="w-full bg-gray-300 p-5">
            <div class="w-10/12 block md:flex m-auto justify-between">
                <div class="flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-blue-900">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                      </svg>                  
                    <h1 class="text-orange-500 font-semibold text-xl">Mobi Tracker</h1>
                </div>
                <div class="hidden md:block">
                    <ul class="block md:flex text-blue-900" id="nav">
                        <li class="mr-4 cursor-pointer hover:text-orange-500"><a href="./home.html">Home</a></li>
                        <li class="mr-4 cursor-pointer hover:text-orange-500"><a href="./about.html">About</a></li>
                        <li class="mr-4 cursor-pointer hover:text-orange-500">How It Works</li>
                        <li class="mr-4 cursor-pointer hover:text-orange-500">Track Number</li>
                        <li class="cursor-pointer bg-red-600 p-1 text-white rounded-md ml-5"><a href="./index.html">Exit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="w-full pt-10 bg-gradient-to-r from-gray-400 to bg-orange-400">
            <div class="w-10/12 m-auto">
                <h2 class="text-center text-xl pb-4 font-semibold">I am Wilfred <span class="p-2 rounded-md bg-blue-900 text-white">Mutwiri</span></h2>
                <img class="m-auto rounded-full h-56" src="../static/src/images/109188681.jfif">
                <h2 class="text-center p-4 text-lg">An enthusiastic Software Enginner from Kenya</h2>
                <p class="text-center">You can reach me via:</p>
                <div class="m-auto w-64">
                    <ul class="pt-5 pb-5">
                        <li class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-blue-800 font-bold mr-3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                              </svg>
                              +254745567568                              
                        </li>
                        <li class="flex pt-4">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-blue-800 font-bold mr-3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                              </svg>                              
                              wilfredmutwiri10@gmali.com                              
                        </li>
                        <li class="flex pt-4">
                            <img class="h-6 mr-4" src="../static/src/images/facebook.png"/>
                            <a href="https://www.facebook.com/willy.james.33821" target="_blank">Wilfred Mutwiri</a> 
                        </li>
                        <li class="flex pt-4">
                            <img class="h-6 mr-4"  src="../static/src/images/twitter.png"/>
                            <a href="https://twitter.com/WilfredMutwiri8">@WilfredMutwiri8</a>
                        </li>
                        <li class="flex pt-4">
                            <img class="h-6 mr-4" src="../static/src/images/github-sign.png">
                            <a href="https://github.com/WilfredMutwiri">WilfredMutwiri</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="bg-black pt-10 pb-10">
            <div class="block md:flex w-10/12 m-auto justify-between">
                <div class="block">
                   <div class="flex md:block pb-3 md:pb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-green-700">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                      </svg>                  
                    <h1 class="text-orange-500 font-semibold text-xl">Mobi Tracker</h1>
                   </div>
                   <span class="italic text-blue-500">Your Ultimate mobile phone tracker</span>
                </div>
                <div class="pt-5 md:pt-0">
                    <ul class="block text-green-600" id="nav">
                        <li class="mr-4 cursor-pointer hover:text-orange-500"><a href="./home.html">Home</a></li>
                        <li class="mr-4 cursor-pointer hover:text-orange-500"><a href="./about.html">About</a></li>
                        <li class="mr-4 cursor-pointer hover:text-orange-500">How It Works</li>
                        <li class="mr-4 cursor-pointer hover:text-orange-500">Track Number</li>
                    </ul>
                </div>
                <div class="text-white pt-5 md:pt-0">
                  <ul>
                    <li class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class=" mr-2 w-5 h-5 text-orange-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                          </svg>
                        Baraton University,<br>Near Kapsabet,Nandi County-Kenya
                    </li>
                    <li class="flex pt-5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-2 w-5 h-5 text-blue-700">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                          </svg>                          
                        +254712340021
                    </li>
                    <li class="flex pt-5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-2 w-5 h-5 text-purple-700">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                          </svg>
                        mobitracker@gmail.com
                    </li>
                  </ul>
                </div>
            </div>
            <hr class="w-11/12 text-white m-auto mt-5 pb-4">
            <p class="text-red-600 text-center ">&copy;Mobitracker 2024. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>